html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
html {font-size:100%;font-family:monospace,monospace;}
body {max-width:90%;padding:1rem;font-size:1.125em;}
div {max-width:28em;margin:0 auto;}
h1 {
  font-size: 1.2em;
  margin-top: 1.2em;
}
header h1 {text-transform:uppercase;margin-top:3em;padding-top: 10px;}
header img {float: left; padding: 10px;}
article {clear: both;}
nav ul,section ul {padding:0;}
nav li {list-style-type:none;display:inline;}
section li {list-style-type:none;margin:0 0 0.5em 0;}
a {color:blue;}
a {margin:0 0 0 4px;}
nav a,section a {margin:0;}
article p {text-align:justify;}
pre,code {font-size:1em;}
pre {white-space:pre-wrap;padding:0.5em;}
p {text-indent: 1em;}
@media (min-width: 320px) and (max-width: 480px) {
  body {font-size:2em;}
  article p {text-align:left;}
}
@media (orientation: portrait) {
  body {font-size:1.5em;}
}
.footnotes {font-size: 0.9em}
.image-container {display: none;}